{% extends 'base.html' %}

{% block content %}
    <div class="post">
        {% if job.created_at %}
            <div class="date">
                {{ job.created_at }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'job_edit' pk=job.pk %}"><span class="glyphicon glyphicon-pencil">Редактировать</span></a>
        {% endif %}
                        <h4><a href="/post/{{ news.id }}/">{{job.title}}</a> <span class="text-uppercase margin-l-20">{{job.category_id}}</span></h4>
                        <p class="card-text">{{news.company}}</p>
                        <p class="card-text" style="color:#000000">{{ job.description|safe|linebreaks|truncatewords:10 }}</p>
                        <p class="card-text">{{job.requirements}}</p>
                        <p class="card-text">{{job.salary}}</p>
                        <p class="card-text">{{job.location}}</p>
    </div>
{% endblock %}